[package]
name = "day12"
version = "0.1.0"
edition = "2024"

[dependencies]

[dev-dependencies]
criterion = "0.5"

[[bench]]
name = "solver_benchmark"
harness = false

[profile.release]
lto = true
codegen-units = 1
panic = "abort"
